@model BoxOfVegsSystem.Models.ResetPasswordViewModel
@{
    string btnName;
    if (Model.Email != null)
    {
        ViewBag.Title = "Change password";
        btnName = "Change Password";
    }
    else
    {
        ViewBag.Title = "Reset password";
        btnName = "Reset Password";
    }
}
    <section class="login-account" id="loginForm">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-6 col-12">
                    <h1 class="title">@ViewBag.Title</h1>
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        if (Model.Email != null)
                        {
                            @Html.HiddenFor(model => model.Email)
                        }
                        else
                        {
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "square-input" })
                        }
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "square-input" })
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "square-input" })

                        <div class="account-function">
                            <button class="square-btn" type="submit">@btnName</button>
                        </div>


                    }
                </div>

            </div>

        </div>
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
